<div class="general-block-decorator">
    <div class="row">
        <div class="col-md-12 title title-without-tabs">
            {intl l='Matomo Manager' d='matomomanager.bo.default'}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 ">
            <div class="alert-info">
                {intl l='Plusieurs modes de configuration sont possibles :' d='matomomanager.bo.default'}
                <ul>
                    <li>{intl l='Use script => Accès direct au code d\'intégration injecté' d='matomomanager.bo.default'}</li>
                    <li>{intl l='Easy analytics => Saisie simplifiée des paramètres du tracker Analytics' d='matomomanager.bo.default'}</li>
                    <li>{intl l='Easy TagManger => Saisie simplifiée des paramètres Tag Manager' d='matomomanager.bo.default'}</li>
                </ul>
            </div>

            <div class="center-block col-md-6">
                {form name="matomomanager_form_configuration_mode"}
                    <form id="setConfigurationMode" method="POST" action="#">
                        {form_hidden_fields}
                        {render_form_field field='matomo_configuration_mode'}
                    </form>
                {/form}
            </div>
        </div>
    </div>
    <div id="configuration-container">
        <div id="integration_script" class="row matomo-config-mode">
            <div class="col-md-12">
                {include file="form/integration_script.html"}
            </div>
        </div>

        <div id="analytics" class="row matomo-config-mode">
            <div class="col-md-12">
                {include file="form/analytics.html"}
            </div>
        </div>

        <div id="tag_manager" class="row matomo-config-mode">
            <div class="col-md-12">
                {include file="form/tag_manager.html"}
            </div>
        </div>
    </div>
</div>

<div class="general-block-decorator">
    <div class="title title-without-tabs">
        {intl l='Ecommerce configurations' d='matomomanager.bo.default'}
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-container">
                {form name="matomomanager_form_tracking_ecommerce"}
                    <form method="POST" action="{url path="/admin/module/MatomoManager/config/tracking-ecommerce/save"}" {form_enctype} class="clearfix">

                        {form_hidden_fields}

                        {render_form_field field="success_url" value={url path='/admin/module/MatomoManager'}}
                        {render_form_field field="error_url" value={url path='/admin/module/MatomoManager'}}

                        <div class="row">
                            <div class="col-md-12">
                                {render_form_field field='matomo_token_api'}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {render_form_field field='matomo_ecommerce_track_order'}
                            </div>
                            <div class="col-md-12">
                                {render_form_field field='matomo_ecommerce_track_cart'}
                            </div>
                            <div class="col-md-12">
                                {render_form_field field='matomo_ecommerce_track_product'}
                            </div>
                            <div class="col-md-12">
                                {render_form_field field='matomo_ecommerce_track_search'}
                            </div>
                            <div class="col-md-12">
                                {render_form_field field='matomo_ecommerce_consent_tracking'}
                            </div>
                        </div>

                        <button type="submit" value="save" class="form-submit-button btn btn-sm btn-default right" title="{intl l='Save tracking configuration' d='matomomanager.bo.default'}">
                            {intl l='Save tracking configuration' d='matomomanager.bo.default' }
                        </button>
                    </form>
                {/form}
            </div>
        </div>
    </div>
</div>

